[submodule "backend"]
	path = backend
	url = https://github.com/Dernorayytor/genmage-nestjs-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Dernorayytor/genmage-nextjs-frontend.git
